{% extends ../base.html %}

{% block title %}{{ _('Crafty Controller - Change Password') }}{% end %}

{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">      
        <h1 class="m-0">
          {{ _('Change Your Password') }}
          <small style="font-size:.45em;">
            {{ _('Change is good') }}
          </small>
        </h1>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> {{ _('Home') }}</a></li>
          <li class="active breadcrumb-item">{{ _('Change Password') }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card card-secondary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      {{ _('Change Password For:') }} {{ data['user_data']['username'] }}
                  </h3>
                </div>
                <div class="card-body">
                  <form method="post">
                      <input class="form-control-lg form-control" type="password" id="password" name="password" placeholder="{{ _('Type your new password') }}" autocomplete="off" minlength="8" maxlength="512"/>
                      <input class="form-control-lg form-control" style="margin-top: .5em"type="password" id="confirm-password" name="confirm-password" placeholder="{{ _('Confirm your new password') }}" autocomplete="off" minlength="8" maxlength="512"/>
                      <br />
                      <input type="submit" class="col-12 btn btn-primary btn-load btn-lg" value="{{ _('Change Password') }}">

                      {% raw xsrf_form_html() %}
                  </form>
                </div>

              </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card card-secondary card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-key"></i>{{ _('Keys to a good password') }}
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="callout callout-info">
                  <p>
                    {{ _('A secure password is actually a phrase') }}, {{ _('that is at least 10 char long and contains uncommon words:') }}<br /><br />
                    {{ _('Example:') }}" Bilbo, {{ _('Creepers hate me so much') }}"
                  </p>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
    <script>
      document.querySelector('#confirm-password').addEventListener('keyup', function(e) {
          var pass = document.getElementById("password");
          var confirm_pass = document.getElementById("confirm-password");
          if(pass.value != confirm_pass.value) {
            confirm_pass.setCustomValidity("{{ _('Passwords do not match') }}");
        } else {
            confirm_pass.setCustomValidity("");
        }
      });
    </script>

</section>

<!--
{{ data }}
-->




{% end %}

{% block js-script %}



{% end %}
